.selectMain {
    min-width: max-content;
    max-width: fit-content;
}

.selectTitle {
    border-bottom: 1px solid blue;
    width: max-content;
    cursor: pointer;
}

.selectTitle:hover {
    box-shadow: 0 0 5px 5px aqua;
}

.selectBody {
    border: 1px solid black;

}

.selectItem {
    padding: 0 5px;
}

.selectItem:hover {
    box-shadow: 0 0 3px 3px indianred;
    cursor: pointer;

}

.active {
    color: white;
    background-color: cornflowerblue;
}

.focused {
    border: 2px solid black;
}
