.clock {
    border-radius: 50%;
    background: #fff url(/src/assets/images/analog-clock-background.svg) no-repeat center;
    background-size: 88%;
    height: 20em;
    position: absolute;
    width: 20em;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
}

.clock:after {
    background: #000;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    z-index: 2;
    border: 2px solid #fff;
}

.hours {
    position: absolute;
    background: #222;
    width: 2.5%;
    height: 20%;
    top: 30%;
    left: 48.75%;
    transform-origin: bottom;
    /*    background: #000;*/
    /*    height: 20%;*/
    /*    left: 48.75%;*/
    /*    position: absolute;*/
    /*    top: 30%;*/
    /*    transform-origin: 50% 100%;*/
    /*    width: 2.5%;*/
}

.minutes{
    position: absolute;
    background: #444;
    width: 2%;
    height: 40%;
    top: 10%;
    left: 49%;
    transform-origin: bottom;
    /*    background: #000;*/
    /*    height: 40%;*/
    /*    left: 49%;*/
    /*    position: absolute;*/
    /*    top: 10%;*/
    /*    transform-origin: 50% 100%;*/
    /*    width: 2%;*/
}

.seconds {
    position: absolute;
    background: red;
    width: 1%;
    height: 45%;
    top: 5%;
    left: 49.5%;
    transform-origin: bottom;
}